body{
    margin: 0px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    background: gray;
    padding: 10px;
}

.tarjeta{
    flex: 1;
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 20px;
    margin: 5px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    color: white;   
}